* {
  box-sizing: border-box;
 
}
body{
  margin: 0;
}

img{
    border: 1px solid black;
     height: 170px;
     background-color: rgb(89, 9, 9);
  }

  img:hover{
    background-color: gold;
  }

  .img-container{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(auto-fit, minmax(10%, 100px));
    grid-template-rows: repeat(auto-fit , minmax(3%, 200px));
  }

  .Header{
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 1528px) {
    .img-container{
      display: grid;
      height: 500px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-template-rows: repeat(2, 200px );
    }
    #root, body{
      height: 2000px;
    }
    
  }
  @media only screen and (max-width: 1000px) {

    *{
      font-size: medium;
     }
  }
  @media only screen and (max-width: 750px) {

    *{
      font-size: 13px;
     }
  }
  @media only screen and (max-width: 650px) {

    *{
      font-size: 10px;
     }
  }

  #root{
    background-color: rgb(82, 132, 33);
    width: 100%;
  }

  .img-wrapper{
    
    color: white;
  }
  .img-wrapper:hover{
    background-color: black;
    border-radius: 10px;
  }

h1,h3 {
  color: rgb(24, 19, 7);
  font-style: normal;
}
